<h1>Hi Mohammed {{name}}</h1>
<h2>{{2+2}}</h2>
<h2>{{"Welcome " + name}}</h2>
<h2>{{name.length}}</h2>
<h2>{{name.toUpperCase()}}</h2>
<h2>{{greetUser()}}</h2>
<h2>{{siteUrl}}</h2>
<input type="text" [id]="myId" value="Mohammed Iqbal">
<input [disabled]="isdisabled" type="text" id="{{myId}}" value="Mohammed Iqbal">
<input bind-disabled="isdisabled" type="text" [id]="myId" value="Mohammed Iqbal">
<h2 class="test-success">CodeEvolution</h2>
<h2 [class] = "successClass">CodeEvolution</h2>
<h2 class="text-special" [class] = "successClass" >CodeEvolution</h2>
<h2 [class.text-danger] = "hasError">CodeEvolution</h2>
<h2 [ngClass] ="messageClass">CodeEvolution</h2>
<h2 [style.color] ="'Orange'">Style binding</h2>
<h2 [style.color] ="hasError ? 'blue':'Orange'">Style binding</h2>
<h2 [style.color] ="highlightColor">Style binding</h2>
<h2 [ngStyle]="titleStyles">Style binding</h2>
<button (click)="onClick($event)">Greet</button>
<button (click)="greeting = 'Welcome Iqbal'">Greet</button>
{{greeting}}
<input #myInput type="text"/>
<button (click)="logMessage(myInput.value)">Log</button>
<button (click)="logMessage(myInput)">Log</button>
<input [(ngModel)]="userName" type="text"/>
{{userName}}
<h2 *ngIf="displayName ; else elseBlock">
    ngIf structural directive
</h2>

<ng-template #elseBlock>
    <h2>
        Name is hidden
    </h2>
</ng-template>

<div *ngIf="displayNameSecond ; then thenBlock ; else elseBlockSecond"></div>

<ng-template #thenBlock>
    <h2>ngIf is {{displayNameSecond}}</h2>
</ng-template>

<ng-template #elseBlockSecond>
    <h2>ngIf is {{displayNameSecond}}</h2>
</ng-template>

<div [ngSwitch]="switchColor">
    <div *ngSwitchCase="'red'">You picked red color</div>
    <div *ngSwitchCase="'blue'">You picked blue color</div>
    <div *ngSwitchCase="'green'">You picked green color</div>
    <div *ngSwitchDefault>Pick again</div>
</div>

<div *ngFor="let color of colorList; index as i">
    <h2>{{i}}  {{color}}</h2>
</div>

<div *ngFor="let color of colorList; first as f">
    <h2>{{f}}  {{color}}</h2>
</div>

<div *ngFor="let color of colorList; last as l">
    <h2>{{l}}  {{color}}</h2>
</div>

<div *ngFor="let color of colorList; odd as o">
    <h2>{{o}}  {{color}}</h2>
</div>