<h1>Hi Mohammed {{name}}</h1>
<h2>{{2+2}}</h2>
<h2>{{"Welcome " + name}}</h2>
<h2>{{name.length}}</h2>
<h2>{{name.toUpperCase()}}</h2>
<h2>{{greetUser()}}</h2>
<h2>{{siteUrl}}</h2>
<input type="text" [id]="myId" value="Mohammed Iqbal">
<input [disabled]="isdisabled" type="text" id="{{myId}}" value="Mohammed Iqbal">
<input bind-disabled="isdisabled" type="text" [id]="myId" value="Mohammed Iqbal">
<h2 class="test-success">CodeEvolution</h2>
<h2 [class] = "successClass">CodeEvolution</h2>
<h2 class="text-special" [class] = "successClass" >CodeEvolution</h2>
<h2 [class.text-danger] = "hasError">CodeEvolution</h2>
<h2 [ngClass] ="messageClass">CodeEvolution</h2>
<h2 [style.color] ="'Orange'">Style binding</h2>
<h2 [style.color] ="hasError ? 'blue':'Orange'">Style binding</h2>
<h2 [style.color] ="highlightColor">Style binding</h2>
<h2 [ngStyle]="titleStyles">Style binding</h2>